* {
    box-sizing: border-box;
}

.my-container {
    /* align-items: center; */
    text-align: center;
    padding: 0 10vw;
}

.my-form {
    position: relative;
    border-radius: 20px;
    background-color: rgb(177, 179, 179);
    max-width: 600px;
    height: fit-content;
    padding: 40px;
    margin: auto;
    box-shadow: 0rem 0rem 2rem 0.5rem rgba(90, 90, 90, 0.401);
}

.my-form input {
    display: block;
    width: 100%;
    padding: 12px 20px;
}


.my-form label {
    padding-bottom: 12px;
}

.my-form button {
    margin-top: 1.5rem;
    padding: 12px 20px;
    width: 75%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.div-button {
    display: flex;
    justify-content: center;
    align-items: center;
}